html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
p {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    display: inline;
}

/* BODY BACKGROUND */

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('assets/icloud-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    font-family: 'Open Sans', -apple-system, Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(250,255,254, .97),rgba(250,245,254, .97));
    color: gray;
    position: relative;
}

/* HEADER */

.header {
    width: 100%;
    height: 4rem;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.header .logo {
    height: 100%;
    width: auto;
}

.help {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: .25rem solid hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
}

/* MAIN CONTENT AREA */

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.main-cta {
    margin-top: 10rem;
    text-align: center;
}

.icloud-icon {
    width: 10rem;
    height: 10rem;
    margin: 2rem auto;
}

.icloud-logo {
    width: 8rem;
    height: 8rem;
}

.sign-in {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(48, 47, 47, .8);
}

/* INPUT AREA */

.email {position: relative;}

.email-input,
.pswd {
    width: 30rem;
    height: 4rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    font-weight: 200 !important;
    margin: 1.5rem auto;
    padding: .5rem;
    outline: 1px solid rgb(155, 154, 154);
    border: unset;
    position: relative;
}

.email-input:focus,
.pswd:focus {
    outline: 2px solid cornflowerblue !important;
    border: unset;
}

.email-address-label {
    height: 3rem;
    width: 3rem;
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 1rem;
    border: 2px solid rgb(155, 154, 154);
    border-radius: 50%;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    height: 3.5rem;
    width: 3.5rem;
    background-image: url('/assets/loading.gif');
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    display: none;
}

.email-input:focus + .email-address-label {
    color: rgb(94, 93, 93);
    border-color: rgb(94, 93, 93);
}

.pswd {visibility: hidden;}

.save-log {
    font-size: 1.8rem;
    font-weight: 300;
}

.reset-pswd {
    margin-top: 2rem;
    color: dodgerblue;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 2rem;
}


.footer-link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: rgb(155, 154, 154);
}

.footer-link:link::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 1rem;
    margin: 0 1rem;
    background-color: rgb(155, 154, 154);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    html {font-size: 31.25%;}

    .main-cta {
        margin-top: 6rem;
    }
}